.bg {
    background-image: url(../img/rtik.jpg);
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .carousel{
    left: 25%; 
    top: 25%; 
    width: 50%; 
    height: 50%; 
    position: absolute; 
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 30px;
    text-align: center;
  }